beautifulsoup4==4.12.2
Flask==2.2.5
Flask_Cors==3.0.10
matplotlib==3.7.1
numpy==1.23.5
pandas==2.0.0
requests==2.29.0
scikit_learn==1.2.2
tensorflow==2.12.0
tensorflow_hub==0.13.0
tensorflow_intel==2.12.0
toml==0.10.2
torch==2.0.0
transformers==4.28.1
waitress==2.1.2
